NEXT_PUBLIC_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
NEXT_PUBLIC_BLM_ACTIVE_CLAIMS_URL=https://gis.blm.gov/nlsdb/rest/services/Mining_Claims/MiningClaims/MapServer/1
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

